<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WS Client</title>
    <link href="assets/css/main.css" rel="stylesheet">
  </head>
  <body>

    <!-- Header -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            WS Client
            <span class="js-loader">
              <img src="/assets/img/load.gif" alt="">
            </span>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="js-navbar" href="/">Home</a></li>
            <li><a class="js-navbar" href="/places">Places</a></li>
            <li><a class="js-navbar" href="/towns">Towns</a></li>
            <li><a class="js-navbar" href="/countries">Countries</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="css-home">
              <a class="js-sidebar" href="/">Home</a>
            </li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="css-places">
              <a class="js-sidebar" href="/places">Places</a>
            </li>
            <li class="css-place-add">
              <a class="js-sidebar" href="/places/add">Add a Place</a>
            </li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="css-towns">
              <a class="js-sidebar" href="/towns">Towns</a>
            </li>
            <li class="css-town-add">
              <a class="js-sidebar" href="/towns/add">Add a Town</a>
            </li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="css-countries">
              <a class="js-sidebar" href="/countries">Countries</a>
            </li>
            <li class="css-country-add">
              <a class="js-sidebar" href="/countries/add">Add a Countries</a>
            </li>
          </ul>
        </div>
        <!-- Content -->
        <div class="js-main col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"></div>
      </div>
    </div>



    <!-- Templates -->

    <script id="js-page" type="text/x-template">
    <h1 class="page-header"><%= title %></h1>
    <%= content %>
    </script>

    <script id="js-home" type="text/x-template">
    <p>Welcome to our app.</<p>
    </script>



    <!-- PLACES -->

    <script id="js-place-list" type="text/x-template">
    <div class="row">
      <div class="col-xs-4">
        <form class="places-form-filter">
          <p>
            <label>Filter:</label>
            <input class="form-control" type="text" placeholder="e.g. Tower">
          </p>
        </form>
      </div>
      <div class="col-xs-4">
        <form class="form-horizontal js-sort-by-town" data-cat="t">
          <p>
            <label>Sort by Town:</label>
            <select class="form-control">
              <option>Select a Town</option>
            <% _.each(towns, function(town) { %>
              <option value="<%= town.id %>"><%= town.name %></option>
            <% }) %>
            </select>
          </p>
        </form>
      </div>
      <div class="col-xs-4">
        <form class="form-horizontal js-sort-by-country" data-cat="c">
          <p>
            <label>Sort by Country:</label>
            <select class="form-control">
              <option>Select a Country</option>
            <% _.each(countries, function(country) { %>
              <option value="<%= country.id %>"><%= country.name %></option>
            <% }) %>
            </select>
          </p>
        </form>
      </div>
    </div>
    <% var _len = places.length %>
    <% if(_len) { %>
      <% _.each(places, function(place, i) { %>
        <% if(i%3 === 0) { %>
        <div class="row">
        <% } %>
          <div class="col-xs-4 placeholder">
            <h4><a class="js-place-item" href="/places/<%= place.id %>"><%= place.name %></a></h4>
            <p>
              <span class="text-muted"><%= place.description %></span>
            </p>
            <p>
              <span class="text-muted"><%= place.address %></span>
            </p>
          </div>
        <% if(i%3 === 2 || i === _len - 1) { %>
        </div>
        <% } %>
      <% }) %>
    <% } else { %>
      <p>No Places found.</p>
    <% } %>
    <div class="row">
      <p>
        <a href="/places/add" class="btn btn-primary js-place-add-item">Add a Place</a>
      </p>
    </div>
    </script>

    <script id="js-add-place" type="text/x-template">
      <div class="row">
        <div class="col-md-8">
          <form class="form-horizontal add-place" role="form">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="place-name">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="place-name" name="name" placeholder="Wonderful name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="place-description">Description</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="place-description" name="description" placeholder="Wonderful description">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="place-address">Address</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="place-address" name="address" placeholder="Wonderful address">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="place-town_id">Town</label>
              <div class="col-sm-10 towns-select">
                <img src="/assets/img/loader-mini.gif" alt="Loading...">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="latitude">
                <input type="hidden" name="longitude">
                <button type="submit" class="btn btn-primary">Create</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <div class="gmaps" id="place-map"></div>
        </div>
      </div>
    </script>

    <script id="js-add-comment" type="text/x-template">
    <form class="form-horizontal add-comment" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="comment-author">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="comment-author" name="author" placeholder="John Doe">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="comment-mark">Mark</label>
        <div class="col-sm-10">
          <select id="comment-mark" name="mark" class="form-control">
          <% for(var i = 0; i <= 10; i++) { %>
            <option value="<%= i %>"><%= i %></option>
          <% } %>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="comment-text">Comment</label>
        <div class="col-sm-10">
          <textarea id="comment-text" name="text" placeholder="I love that place because..." class="form-control" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="hidden" name="place_id" value="<%= placeId %>">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </div>
    </form>
    </script>

    <script id="js-place-item" type="text/x-template">
    <div class="row">
      <div class="col-md-6">
        <p><%= place.description %></p>
        <p><span class="text-muted"><%= place.address %></span></p>
      </div>
      <div class="col-md-6">
        <div class="col-md-6">
          <p>
            <a class="js-town-item" href="/towns/<%= town.id %>"><%= town.name %></a>
          </p>
          <p>
            Population: <%= town.population.toLocaleString('en-EN') %> people
          </p>
        </div>
        <div class="col-md-6">
          <p>
            <a class="js-country-item" href="/countries/<%= country.id %>"><%= country.name %></a>, <%= country.continent %>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>
          <a href="/places/<%= place.id %>/comments/add" data-placeid="<%= place.id %>" class="btn btn-primary js-comment-add-item">Add a comment</a>
        </p>
        <% if(comments.length) { %>
          <% if(comments.length > 1) { %>
            <h3>Best comment</h3>
            <p>
              <% var firstComment = comments[0] %>
              <% comments.splice(0, 1) %>
              <strong><%= firstComment.comment %></strong> (<%= firstComment.mark %>/10)
              <br>
              From <strong><%= firstComment.author %></strong>
            </p>
          <% } %>
          <h3>Comments</h3>
          <% _.each(comments, function(comment) { %>
            <p class="comment">
              <strong><%= comment.author %></strong> <%= comment.mark %>/10
              <br>
              <%= comment.comment %>
            </p>
          <% }) %>
        <% } else { %>
          <p>No comment yet.</p>
        <% } %>
      </div>
      <div class="col-md-6">
        <div class="gmaps" id="place-map"></div>
      </div>
    </div>
    </script>



    <!-- TOWNS -->

    <script id="js-town-list" type="text/x-template">
    <% var _len = towns.length %>
    <% if(_len) { %>
      <% _.each(towns, function(town, i) { %>
        <% if(i%3 === 0) { %>
        <div class="row">
        <% } %>
          <div class="col-xs-4 placeholder">
            <h4>
              <a class="js-town-item" href="/towns/<%= town.id %>"><%= town.name %></a>
            </h4>
            <p class="text-muted">
            <%= town.population.toLocaleString('en-EN') %> people
            </p>
          </div>
        <% if(i%3 === 2 || i === _len - 1) { %>
        </div>
        <% } %>
      <% }) %>
    <% } else { %>
      <p>No Towns found.</p>
    <% } %>
    <div class="row">
      <p>
        <a href="/towns/add" class="btn btn-primary js-town-add-item">Add a Town</a>
      </p>
    </div>
    </script>

    <script id="js-town-item" type="text/x-template">
    <p>Population: <%= town.population.toLocaleString('en-EN') %></p>
    <p>Country: <a class="js-country-item" href="/countries/<%= country.id %>"><%= country.name %></a></p>
    </script>

    <script id="js-add-town" type="text/x-template">
    <form class="form-horizontal add-town" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="town-name">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="town-name" name="name" placeholder="Wonderful name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="town-population">Population</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="town-population" name="population" placeholder="Incredible population">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="town-country_id">Country</label>
        <div class="col-sm-10 countries-select">
          <img src="/assets/img/loader-mini.gif" alt="Loading...">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </div>
    </form>
    </script>

    <script id="js-towns-select" type="text/x-template">
    <select id="place-town_id" name="town_id" class="form-control">
    <% _.each(towns, function(town) { %>
      <option value="<%= town.id %>"><%= town.name %></option>
    <% }) %>
    </select>
    </script>



    <!-- COUNTRIES -->

    <script id="js-country-list" type="text/x-template">
    <% var _len = countries.length %>
    <% if(_len) { %>
      <% _.each(countries, function(country, i) { %>
        <% if(i%3 === 0) { %>
        <div class="row">
        <% } %>
          <div class="col-xs-4 placeholder">
            <h4>
            <a class="js-country-item" href="/countries/<%= country.id %>"><%= country.name %></a>
            </h4>
          </div>
        <% if(i%3 === 2 || i === _len - 1) { %>
        </div>
        <% } %>
      <% }) %>
    <% } else { %>
      <p>No Countries found.</p>
    <% } %>
    <div class="row">
      <p>
        <a href="/countries/add" class="btn btn-primary js-country-add-item">Add a Country</a>
      </p>
    </div>
    </script>

    <script id="js-country-item" type="text/x-template">
    <p>Continent: <%= country.continent %></p>
    <p>Code: <%= country.code %></p>
    </script>

    <script id="js-add-country" type="text/x-template">
    <form class="form-horizontal add-country" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="country-name">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="country-name" name="name" placeholder="Wonderful name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="country-code">Code</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="country-code" name="code" placeholder="Wonderful code">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="country-continent">Continent</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="country-continent" name="continent" placeholder="Wonderful continent">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </div>
    </form>
    </script>

    <script id="js-countries-select" type="text/x-template">
    <select id="place-country_id" name="country_id" class="form-control">
    <% _.each(countries, function(country) { %>
      <option value="<%= country.id %>"><%= country.name %></option>
    <% }) %>
    </select>
    </script>

    <!-- End Templates -->

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAciVpsNdpy6AlcULnfBXVdaBks3GoOBf0"></script>
    <script src="assets/js/main.js"></script>

  </body>
</html>
